
.boxPrimary{
    margin: 0;
    background: linear-gradient(180deg, #ffffff 50%, #00abe5 100%);
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
}
#caja2{
    text-align: right;
    padding-top: 20px;

}

.caja2 h3{
    margin-left: 10px;
    
}
#boxSecundary{
     width: 97%;
    
    float: left;
}
#imagenMain{
    width: 100%;
    
}
#imagenMain img{
    margin-inline: 25%;
    height: 12em;
    
    
}
#redes{

   
   
    border-left: 1px solid #ccc;
    display: grid;

    grid-gap: 6px;
    grid-auto-rows: minmax(5px, auto);
    
}

.red{
    text-align: center; 
    float: left; 
    font-size: 30px;
    padding-block: 5px;
    margin: 0px 0px;
    float: left;
    top: 0;
}
#redes .bxl-facebook-square{
    color: #3b5998;
}
#redes .bxl-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#redes .bxl-twitter{
    color: #00acee;
}
#redes .bxl-telegram{
    color: #229ED9;
}

.carrusel {
    margin-top: 5px;
    background-color: #00234b;

    width: 70%;
    position: relative;
    float: left;
}
.carrusel #demo img{
    height: 390px;
}
.th3{
    margin-left: 40px;
   margin-top: 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.topic button{
    margin-left: 20px;
    width: 300px;
    margin-top: 1px;
  text-align:right;
  color: #00234b;
  border-color: #00234b;
  background-color: #e6dddd;
  border: none;
}
.topic button i{
  margin-inline: 15px 5px;
}

.noticias{
  


    border: 1px;
    display: inline-block;
    width: 350px;

    text-align: left;

}

.netSocial {
    display: inline-block;

float: left;
display: grid;

grid-gap: 2px;
grid-auto-rows: minmax(2px, auto);
}
.fb-page{
    float: left,

}
.netSocial .fb{
    font-size: 30px;
    color: #7a7a7a;
}
.netSocial .yt{
    font-size: 30px;
    color: #7a7a7a;
}
.netSocial .fb:hover{

    color: #205192;
}
.netSocial .yt:hover{

    color: #a00000;
}
footer {
   margin-top: 10px;
   float: left;
   background-color: #00abe5;
   color: #fff;
   bottom: 0;
  
   width: 100%;

}
footer p{
    font-size: 22px;
    width: 80%;
    margin-inline: auto;
}
footer h5 {
    font-size: 25px;
    font-weight: 400;
}
footer .dir{
    font-size: 15px;
}