{% extends 'encabezado.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 


  {% block estilos %}
  <link rel="stylesheet" href='{% static "./css/styleAdmin.css" %}'>
  
  {% endblock estilos %}
</head>

<body>
  
    


    {% block cuerpo %} 

  


    <!-- Modal para opciones de guardar-->
    <div class="modal fade" id="ModalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" data-toggle="modal" data-target="#ModalMenuAdd" class="btn btn-primary" onclick="newMenu()" data-dismiss="modal">Menu</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSubMenuAdd" id="btnSubmenuid" data-dismiss="modal">Submenu</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------- -->




    <!-- Modal guardar areas -->
    <div class="modal fade" id="ModalMenuAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
  <form method="POST"  action="" class="post-form" id="todo-form">{% csrf_token %}
    
       <div class="form-row">
     
      <div class="form-group col-md-6">
        <label for="">ID</label> 


       <input type="text" name="{{ form.id.name }}" class="form-control"> 
       <div class="text-danger">
        {{ form.errors }}
      </div>
       

      </div>
      <div class="form-group col-md-6">
        <label for="">cod</label>
        <input type="text" name="{{ form.linkP1.name }}" class="form-control"> 
      </div>
      <div class="form-group col-md-6">
        <label for="">Area</label>
        <input type="text" name="{{ form.name.name }}" class="form-control"> 
      </div>
      <div class="form-group col-md-6">
        <label for="">Enlace</label>
        <input type="text" name="{{ form.enlaceP.name }}" class="form-control"> 
      </div>
      <div class="form-group col-md-6">
        <label for="">Descripción</label>
        <input type="text" name="{{ form.description.name }}" class="form-control"> 
      </div>
      <div class="form-group col-md-6">
        
        <a href="" data-toggle="modal" data-target=".bd-example-modal-sm">
       
 
         <input type="hidden" name="{{ form.icon.name }}" value="bx bx-happy" id="envio-icon">
          <span id="icon-post">icono</span> <br><i
          class='bx bx-happy icon-item icon-happy' id="iconoP"></i></a>
      </div>
      <div class="form-group col-md-6">
        
        <div class="form-check form-switch">
          <label for="che-estado">
          <input id="che-estado" class="form-check-input" type="checkbox" name="{{ form.state.name }}" > estado</label>
        </div>
        
      </div>
    </div>
   
  
      <!-- <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div> 
 
     <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>  -->
    <button class="save btn btn-primary">Guardar</button>
   
  </form>
  
 
  <!-- <div class="content container">
    <div class="row">
        <div class="col-md-8">
       
      <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p }}
          <button  class="save btn btn-default">Save</button>
      </form>
         
           
        </div>
    </div>
  </div> -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>
<!-- ----------------------------------------------------------- -->

<!-- Modal guardar subareas -->
<div class="modal fade" id="ModalSubMenuAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
<form method="POST"  action="" class="post-form" id="todo-form">{% csrf_token %}

   <div class="form-row">
 
  <div class="form-group col-md-6">
    <label for="">ID</label> 


   <input type="text" name="{{ form2.id.name }}" class="form-control"> 
   <div class="text-danger">
    {{ form.errors }}
  </div>
   

  </div>
  <div class="form-group col-md-6">
    <label for="">cod</label>
    <input type="text" name="{{ form2.name.name }}" class="form-control"> 
  </div>
  
  <div class="form-group col-md-6">
    <label for="">Enlace</label>
    <input type="text" name="{{ form2.enlaceP.name }}" class="form-control"> 
  </div>
  <div class="form-group col-md-6">
    <label for="">Descripción</label>
    <input type="text" name="{{ form2.description.name }}" class="form-control"> 
  </div>
 
  <div class="form-group col-md-6">
    <label for="">Área</label>

       
      <select class="browser-default custom-select combo" onchange="filtroArea()" id="area" >
       
        {% for area in link %}
          <option value="{{area.id}}" class="datosFiltros" id="filtro{{area.id}} "  >{{area.name}}</option>            
        {% endfor %}
        
     </select>

    
    
  </div>
  <div class="form-group col-md-6">
    
    <div class="form-check form-switch">
      <label for="che-estado">
      <input id="che-estado" class="form-check-input" type="checkbox" name="{{ form2.state.name }}" > estado</label>
    </div>
    
  </div>
</div>



<button class="save btn btn-primary">Guardar</button>

</form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

    </div>
  </div>
</div>
</div>

  <!-- Modal para los iconos Guardar -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="caja-ico">
        {% for icono in icon %}
        <i class='{{icono.name}} ico-modal' onclick="iconclick('{{icono.name}}') " data-dismiss="modal" ></i>
     
        {% if forloop.counter == 10 %}
            <br>
        {% endif %}
        {% endfor %}


      </div>
     
    </div>
  </div>
</div>
<!-- ------------------------- -->


  <!-- Modal para los iconos Actualizar -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" id="ModalUpddate">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="caja-ico">
        {% for icono in icon %}
        <i class='{{icono.name}} ico-modal' onclick="iconclickUpdate('{{icono.name}}') " data-dismiss="modal" ></i>
     
        {% if forloop.counter == 10 %}
            <br>
        {% endif %}
        {% endfor %}


      </div>
     
    </div>
  </div>
</div>
<!-- ------------------------- -->


  <!-- ---------------------------- -->
    <div class="header">
      <h1>Administración de enlaces por menu y submenus</h1>
      <div class="caja-tabla">
        <div class="caja-box">

       
          <select class="browser-default custom-select combo" onchange="filtroArea()" id="area" >
            <option selected="">Filtrar por area</option>
            {% for area in link %}
              <option value="{{area.id}}" class="datosFiltros" id="filtro{{area.id}} "  >{{area.name}}</option>            
            {% endfor %}
            
         </select>

        </div>
        
          <button type="button" data-toggle="modal" data-target="#ModalMenu" class="btn btn-primary btn-nuevo" >Añadir</button>

    

        <table class="table">
          <thead class="table-dark">
            <tr>
              <th></th>
              <th>ID</th>
              <th>Area</th>
              <th>Enlace</th>
              <th>Descripción</th>
              <th>icono</th>
              <th>Estado</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
              <!-- <th>Guardar</th> -->
              <th>Nuevo</th>

            </tr>
          </thead>
          <tbody>
         
             <h1>error: {{form.errors}}</h1> 

            
            {% for enlace in link %} 
             
           
            <form action="" method="post"  class="post-form" id="FormUpdate">
            {% csrf_token %} 
            
            <tr class="item-main" >
              <td onclick="showHideRow('{{enlace.linkP1}}');"><i class='bx bx-list-ul icon-flecha icon-item' id="{{enlace.linkP1}}"></i></td>
              <td  > <input type="text" name="{{form.id.name}}" id="" class="text-id form-control txt-general " value="{{enlace.id}}"></td>
              <td><input type="text" name="{{form.name.name}}" id="" class="form-control txt-general " value="{{enlace.name}}"></td>
              </td>
              <td><input type="text" name="{{form.enlaceP.name}}" id="" class="form-control txt-general " value="{{enlace.enlaceP}}"></td>
              </td>
              <td><input type="text" name="{{form.description.name}}" id="" class="form-control txt-general " value="{{enlace.description}}"></td>
              </td>
              <td>
               <input type="hidden" name="" id="data-respaldo">
                <!--Para formulario--><input type="hidden" name="{{form.icon.name}}" value="{{enlace.icon}}" id="envio-icon-{{enlace.id}}">                
                <a href="" data-toggle="modal" data-target="#ModalUpddate"  onclick="guardarDato('{{enlace.id}}') "><i
                    class='{{enlace.icon}} icon-item icon-happy' id="iconoP-{{enlace.id}}"></i></a></td>
              <td> 
                <div class="form-check form-switch">
                  {% if enlace.state %}
                  <input class="form-check-input" name="{{form.state.name}}" type="checkbox" id="flexSwitchCheckChecked" checked>
                  {% else %}
                  <input class="form-check-input" name="{{form.state.name}}" type="checkbox" id="flexSwitchCheckChecked" >
                  {% endif %}
                </div>  
              </td>
              <!-- onclick="javascript:document.getElementById(`FormUpdate`).submit();
                return false;"  -->
              <td> <a href="{% url 'update' enlace.id %}" class="Button" ><i class='bx bx-rotate-right icon-item icon-update' id=""></i></i></a></td>
              <td> <a href="{% url 'delete' enlace.id %}" onclick="return confirm('¿Estas seguro de Eliminar este registro?')" class="modal-action modal-close waves-effect waves-green btn-flat"><i class='bx bxs-trash icon-item icon-delete' id=""></i></a></td>
              <!-- <td> <a href=""><i class='bx bx-save' ></i></a></td> -->
              <td> <a href="" data-toggle="modal" data-target="#ModalMenu"><i
                    class='bx bxs-add-to-queue icon-item'></i></a></td>
            </tr>
          </form>
            {% for enlace2 in link2 %}
      

            {% if enlace.linkP1 == enlace2.linkP %}
            
              <tr class="{{enlace2.linkP}} hidden_row submenu">
              <td></td>
              <td> <input type="text" name="" id="" class="text-id form-control txt-general" value="{{enlace2.id}}"></td>
              <td><input type="text" name="" id="" class="form-control txt-general" value="{{enlace2.name}}"></td>
              </td>
              <td><input type="text" name="" id="" class="form-control txt-general" value="{{enlace.enlaceP}}"></td>
              </td>
              <td><input type="text" name="" id="" class="form-control txt-general" value="{{enlace.description}}"></td>
              </td>
              <td></td>
              <td> 
                <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              </div>
            </td>
              <td> <a href=""><i class='bx bx-rotate-right icon-item icon-update'></i></i></a></td>
              <td> <a href=""><i class='bx bxs-trash icon-item icon-delete'></i></a></td>
              <!-- <td> <a href=""><i class='bx bx-save' ></i></a></td> -->
              <td> </td>

            </tr>

            {% endif %}
            
            {%endfor%}
          
            {% endfor %}

           




           
          </tbody>
        </table>
      </div>

    </div>

    <!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
      <h3>estas apunto de eliminar {{identificador.clave}}</h3> 
  </div>
  <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <button onclick="eliminarIdentificador('{{ identificador.id }}')" class="modal-action modal-close waves-effect waves-green btn-flat">Eliminar</a>
  </div>
</div>

<script type="text/javascript">
  function eliminarIdentificador(identificadorId) {
      var request = $.ajax({
          type: "POST",
          url: "{% url 'admin' %}",
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "id": identificadorId                    
          },
      });
      request.done(function(response) {
          alert("Identificador eliminado");
          // Cierra el modal, oculta el identificador eliminado, etc.
      });
  }
</script>


<!-- 
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).on('submit','#todo-form',function(e)
           {
console.log('hello');
e.preventDefault();
$.ajax({
type:'POST',
url:'/',
data:{
  todo:$("#todo").val()
},
success:function()
{
  alert('saved');
}
})
});
</script> -->
    {% endblock cuerpo %}

</body>

</html>