{% extends 'encabezado2.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>



  {% block estilos %}
  <link rel="stylesheet" href='{% static "./css/styleAdmin.css" %}'>
  <link rel="stylesheet" href='{% static "./css/checkbox.css" %}'>
  

  {% endblock estilos %}
</head>

<body>




  {% block cuerpo %}



  <h3 class="encabezado">Administración de Noticias en Redes</h3>
    <hr>

      



      <table class="table" id="tablaT">
        <thead class="" id="table-head">
          <tr>
            
            <th class="w-5">ID</th>
            <th class="w-25">Red social</th>
         
        <th class="w-25">Descripción</th>
        <th class="w-40">Enlace</th>

            
            <th class="w-25">Actualizar</th>
            <!-- <th>Eliminar</th>
             <th>Guardar</th> 
            <th>Nuevo</th> -->

          </tr>
        </thead>
        <tbody>



          {% for noti in noticia %}

          <form action="{% url 'updateNoticias' noti.id %}" method="post" class="post-form" id="FormUpdateN{{noti.id}}">
            {% csrf_token %}

            <tr class="item-main contenidoMenu " id="contenidoMenu{{noti.id}}">
              
              <td> <input type="text" name="{{form.id.name}}" id="" class="text-id form-control txt-general"
                  value="{{noti.id}}" readonly></td>
                 
              <td><input type="text" name="{{form.name.name}}" id="" class="form-control txt-general"
                  value="{{noti.name}}" readonly>
                
                
                </td>
              
            
                  <td>
                    

                 
                   {{noti.description}}
            
              </td>
              
           <td class="w-100"><input type="text" name="enlace" id="" class="form-control txt-general "
                  value="{{noti.enlace}}" ></td>
       
              <td> <a id="notiUpdate{{noti.id}}" href="" class="Button"  onclick="confirmarUpdate(`FormUpdateN{{noti.id}}`); return false;"><i
                    class='bx bxs-save icon-item icon-update' id=""></i></a></td>
           
          
            </tr>
          </form>
     

          {% endfor %}







        </tbody>
      </table>
    </div>

  </div>



 



    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    


   <script src='{% static "./js/tabla-admin.js" %}'></script>
   <script src='{% static "./js/validaciones.js" %}'></script>
   



  {% endblock cuerpo %}

</body>

</html>