@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

:root {
    --color_primario: rgb(58, 206, 211);
}

body {
    background-color: #eee
}


.content {



    color: #202020;
    z-index: -1;
    text-align: center
}



#imagenMain-AD {

    width: 100%;
    background: linear-gradient(180deg, #ffffff 50%, #00abe5 100%);
}

#imagenMain-AD img {

    width: 400px;
    margin-inline: auto;
}

.text-id{
    width: 100px;
}

.txt-general{
    background-color: transparent;
    border: 0.5px solid #969fa1;
    border-radius: 5px;
    outline: none;
    
}

.item-main{
    background-color: #cac8c8;
}
#menuid{
  display: none;
  
  background-color: #6ac76a;
}
#submenuid{
    display: none;
    
    background-color: #6ab9c7;
  }
  .icon-item{
      font-size: 25px;
      color: #727272;
  }
  #tablaT .fa{
      font-size: 22px;
  }
  .icon-happy:hover{
      color: rgb(192, 159, 14);
  }
  .icon-update{
    color: #aa8200;
}
  .icon-update:hover{
      color: #866702;
  }
  .icon-delete{
    color: #b30101;
  }
  .icon-delete:hover{
    color: rgb(99, 6, 6);
  }
.icon-nuevo{
color: #006400;
}
.icon-nuevo:hover{
    color: #074907;
    }

.encabezado{
    margin: 10px;
}
  /* .icon-flecha{

  } */

  .table{
    width: 92%;
      margin-block: 20px;
        margin-inline: auto;
  }
  .caja-tabla{
      /* margin: 30px; */
    width: 100%;
  }
  .caja-box{
      z-index: -1;
      width: 300px;
      margin-inline: auto;
      
  }
.btn-nuevo{
    margin-top: 20px;
}
  .ico-modal{
      font-size: 32px;
      color: #e0af0d;
  }
  .ico-modal:hover{
      font-size: 34px;
      color: #0d69e0;
  }
  .caja-ico .fa{
    font-size: 25px;
    color: #e0af0d;
}
.caja-ico .fa:hover{
    font-size: 27px;
    color: #0d69e0;
}
#enlace-icon-id{
    text-decoration: none;
    color: #727272 ;
}
#enlace-icon-id:hover{
    text-decoration: none;
    color: #e0af0d ;
}
  .addMenu{
      width: 600px;
      background-color: #1b1b1b83;
      margin-inline: auto;
      padding: 40px;
  }

.submenu{
    display: none;
}
#table-head{
    background-color: #16bdf5;
}
#tablaT{
    text-align: center;
}