@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

:root {
    --color_primario: rgb(58, 206, 211);
}

body {
    background-color: #eee
}

.btn-nav {
    position: absolute;
    top: 10px;
    left: 45px;
    height: 37px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease
}

.btn-nav.click {
    left: 260px
}

.btn-nav span {
    color: white;
    font-size: 15px;
    line-height: 36px
}

.btn-nav.click span:before {
    content: '\f00d'
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease
}

.sidebar.show {
    left: 0px
}

.sidebar .text {
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 10px
}

nav ul li {
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent
}

nav ul li.active a {
    color: var(--color_primario);
    background: #1e1e1e;
    border-left-color: var(--color_primario)
}

nav ul li a:hover {
    background: #1e1e1e
}

.feat-show {
    transition: all 0.5s
}

nav ul li.active ul {
    transition: all 0.5s
}

nav ul ul {
    position: static;
    display: none
}

nav ul.show {
    display: block;
    transition: all 0.5s
}

nav ul ul li {
    line-height: 42px;
    border-top: none
}

nav ul ul li a {
    font-size: 12px;
    color: #e6e6e6
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent
}

a:hover {
    color: var(--color_primario) !important
}

nav ul ul li a:hover {
    color: var(--color_primario) !important;
    background: #1e1e1e !important
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg)
}

.content {



    color: #202020;
    z-index: -1;
    text-align: center
}



#imagenMain-AD {

    width: 100%;
    background: linear-gradient(180deg, #ffffff 50%, #00abe5 100%);
}

#imagenMain-AD img {

    width: 400px;
    margin-inline: auto;
}

.text-id{
    width: 100px;
}

.txt-general{
    background-color: transparent;
    border: 0.5px solid #969fa1;
    border-radius: 5px;
    outline: none;
    
}

.item-main{
    background-color: #cac8c8;
}
#menuid{
  display: none;
  
  background-color: #6ac76a;
}
#submenuid{
    display: none;
    
    background-color: #6ab9c7;
  }
  .icon-item{
      font-size: 22px;
      color: rgb(114, 114, 114);
  }
  
  .icon-happy:hover{
      color: rgb(192, 159, 14);
  }
  .icon-update:hover{
      color: rgb(0, 0, 124);
  }
  .icon-delete:hover{
    color: rgb(179, 1, 1);
  }

  /* .icon-flecha{

  } */

  .table{
    width: 80%;
      margin: 20px auto;
    
  }
  .caja-tabla{
      margin-top: 30px;
    
  }
 

  .caja-box{
      z-index: -1;
      width: 300px;
      margin-left: 30px;
  }
  .ico-modal{
      font-size: 32px;
  }
  .addMenu{
      width: 600px;
      background-color: #1b1b1b83;
      margin-inline: auto;
      padding: 40px;
  }