* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #00234b;   
  }
  *::-webkit-scrollbar {
    width: 5px;
    right: 0;
  }
  *::-webkit-scrollbar-track {
    background: #f1e5e5;
    padding: 0;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #00234b;
    border-radius: 20px;

  }
  
.boxPrimary{
    margin: 0;
    background: linear-gradient(180deg, #ffffff 50%, #00abe5 100%);
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
    height: 100px;
}
#caja2{
    text-align: right;
    padding-top: 20px;

}

.caja2 h3{
    margin-left: 10px;
    
}
#boxSecundary{
     width: 100%;
     height: 100px;
    /* float: left; */

}
#imagenMain{
    width: max-content;
    margin-inline: auto;
}
#imagenMain img{
    
    
    height: 6em;
    
    
}
#redes{
     top: 115px; 
    /* background-color: #d4d4d4; */
    border-radius: 10px;
    border: 1px solid #ccc;
    border-right: 0px solid #ccc;
    /* display: grid; */
    position: fixed;
    display: flex;
    justify-content: space-around;
 
    background-color: rgba(6, 198, 247, 0.295);
  right: 0;
}
#redes:hover{
    /* background-color: rgba(204, 204, 204, 0.733); */
}
.red{
    text-align: center; 
    /* float: left;  */
    font-size: 35px;
    padding-block: 1px;
    margin: 0px 2px;
    float: left;
 
    z-index: 1;

}

/* #redes .bxl-facebook-square{
    color: #3b5998;
} */


/* #redes .bxl-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    //Also define standard property for compatibility
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* #redes .bxl-twitter{
    color: #00acee;
}

#redes .bxl-telegram{
    color: #16a8f1;
} */
.red{
    color: #0577b9;
}
.red:hover{
    text-shadow: 2px 2px 5px #999;
}

.carrusel {
    /* margin-top: 5px; */
    background-color: #003572;
    
    width: 100%;
    position: relative;
    float: left;
}
.carrusel #demo img{
    height: 500px;
}
.CajatemasNoticias{
  /* justify-content: space-between; */
  background-color: #ffffff;
 
}
.topic{
    float: left;
    width: 68%;
    /* justify-content:space-around; */
   
  
}
.temas{
    margin-top: 0px;
    
     display: flex;
justify-content: space-around;
}
.th3{
    /* margin-left: 40px; */
   margin-top: 20px;
    /* text-align: center; */
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 200;
    color: rgb(0, 31, 59);

    
}

.topic .card{
    /* float: left; */

    margin-left: 5px;
    width: 30%;
    
    margin-top: 1px;
  text-align:center;
  color: #00234b;
  border-color: #b3b0b0;
  /* background-color: #e6dddd; */
  /* border: none; */
border-radius: 10px;
}
.topic h5{
    padding-top: 10px;
}
.topic p{
    text-align: justify;
    padding: 5px;
}
/* .topic button i{
  margin-inline: 15px 5px; 
} */

.noticias{
  


    border: 1px;
    display: inline-block;
    /* width: 400px; */
width: 30%;
    text-align: left;

}


.fb-page{
    float: left,

}


.indicador{
    width: 85%;
    height: .6em;
    background-color: #00234b;
    margin-inline: auto;
    
}
.indicador1{
    width: 50%;
    height: .6em;
   
    float: left;

}
.indicador2{
    width: 50%;
    height: .6em;
    background-color: #6d6d6d;
    float: left;
}


.indicador1:hover{
 
    background-color: #002e6b;

}
.indicador2:hover{

    background-color: #7c0303;
    
}




.notiRedes{
    display: block;
    position: relative;
}

ul {
    padding: 0;
    list-style: none;
  }

  .hide-dl-submenu>ul {
    display: none;
  }
.cj{
}
.youtu{
    /* width: 100%;
    background-color: #00abe5;
    height: 5em; */
    background-color: #fff;
    height: 315px;
    /* padding-top: 15%; */
}
#b1{
    background-color: #0471ff;
    height: 5px;
    width: 50%;
    margin: 0;
    padding: 0;
  
}
#b2{
    background-color: #ff0404;
    height: 5px;
    width: 50%;
    margin: 0;
    padding: 0;

}
.carousel-indicators{
    bottom: 0;
    margin-block: 0;
    padding-block: 0;
}
footer {
   margin-top: 10px;
   float: left;
   background-color: #00abe5;
   color: #fff;
   bottom: 0;
  
   width: 100%;

}
footer p{
    font-size: 22px;
    width: 80%;
    margin-inline: auto;
}
footer h5 {
    font-size: 25px;
    font-weight: 400;
}
footer .dir{
    font-size: 15px;
}
